<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>  
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :phone_number %>
        <%= form.text_field :phone_number, class: "form-control" %>  
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :birth_date %>
        <%= form.date_field :birth_date, class: "form-control" %>  
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
