<%= form_with(model: deposit, url: deposits_path) do |form| %>
  <% if deposit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

      <ul>
        <% deposit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :source %>
        <%= form.select :source_id, options_for_select(Stock.all.map{|c| [c.code, c.id]}, form.object.source_id), {}, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :target %>
        <%= form.select :target_id, options_for_select(Account.all.map{|c| [c.number, c.id]}, form.object.target_id), {}, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :amount %>
        <%= form.text_field :amount, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
