<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Account Number</th>
      <th>Balance Before</th>
      <th>Balance After</th>
      <th>Amount</th>
      <th>Created At</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |history| %>
      <tr>
        <td><%= history.transac.types %></td>
        <td><%= history.balancetable_address %></td>
        <td><%= history.balance_before %></td>
        <td><%= history.balance_after %></td>
        <td><%= history.transac.amount %></td>
        <td><%= history.transac.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
