<!DOCTYPE html>
<html>
  <head>
    <title>WalletApps</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Wallet Apps</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item <%= "active" if @current_page == "users" %>">
            <a class="nav-link" href="<%= users_path %>">User</a>
          </li>
          <li class="nav-item <%= "active" if @current_page == "accounts" %>">
            <a class="nav-link" href="<%= accounts_path %>">Account</a>
          </li>
          <li class="nav-item <%= "active" if @current_page == "stocks" %>">
            <a class="nav-link" href="<%= stocks_path %>">Stock</a>
          </li>
          <li class="nav-item <%= "active" if @current_page == "deposits" %>">
            <a class="nav-link" href="<%= deposits_path %>">Deposit</a>
          </li>
          <li class="nav-item <%= "active" if @current_page == "withdraws" %>">
            <a class="nav-link" href="<%= withdraws_path %>">Withdraw</a>
          </li>
          <li class="nav-item <%= "active" if @current_page == "transfers" %>">
            <a class="nav-link" href="<%= transfers_path %>">Transfer</a>
          </li>
          <li class="nav-item <%= "active" if @current_page == "transactions" %>">
            <a class="nav-link" href="<%= transactions_path %>">History Transaction</a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
